.floating{
    position: fixed;
    right: 0;
    display: flex;
    bottom: 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 500px;
    width: 400px;
    background-color: white;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

.floating *{
    margin: 10px;
}

.floating div div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding: 7px;
    border-radius: 2px;
    border: 0.5px solid black;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.mobile{
    font-weight: 200;
}

button{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    font-size: 15px;
    width: 365px;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    border-radius: 2px;
    border: 0.5px solid black;
    background-color: #e13b38;
    transition: all 0.3s ease-in-out;
}

button:hover{
    font-size: 15.2px;
    transform: scale(1.02);
}

.floating div div:hover{
    transform: scale(1.01);
}